div {
  text-align: center;
  margin: 10px 0;
}

input {
  font-family: 'Poppins';
  border-radius: 10px;
  font-size: 18px;
  width: 40%;
  border: 1px solid rgb(204, 203, 203);
  text-align: center;
}

input:focus {
  outline: none;
  color: rgb(59, 58, 58);
}