:root {
  --bg: #ebf0f3;
  --text: #1b1c1d;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins';
  margin: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/Poppins-Regular.ttf);
}